@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}


header {
    height: 6rem;
    background-color: rgb(144, 247, 133);
}

header h1 {
    font-family: "Mountains of Christmas", serif !important;
    font-size: 3.5rem;
}

input {
    width: 40vw;
    outline: none;
}





.darkbox {
    position: fixed;
    z-index: 5;
    width: 100vw;
    width: 100dvw;
    height: 100vh;
    height: 100dvh;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;  
}

.darkbox-body {
    background-color: #fff;
    width: 100%;
    max-width: 876px;
    border-radius: 12px;
    padding: 1rem;
}

.darkbox-body-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}


.preview-img {
    display: flex;
    justify-content: center;
}

.img {
    max-width: 90vw;
    max-height: 65vh;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}




.images {
    columns: 5 340px;
    gap: 1.5rem;
}

.custom-card {
    list-style: none;
    position: relative;
    margin-bottom: 1.5rem;
    border-radius: .8rem;
    overflow: hidden;
}

.custom-card img {
    width: 100%;
}

.custom-card:hover .details , .custom-card:hover .details button , .custom-card:hover .details button , .custom-card:hover .name {
    transform: translateX(0%);
    transform: translateY(0%);
}

.details {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, rgb(0, 0, 0) , transparent 90%);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 12px;
    transform: translateY(100%);
    transition: all .6s ease;
}

.details button {
    transform: translateX(150%);
    color: #000;
    background-color: #fff;
    padding: 4px 6px;
    transition: all .5s ease , transform .7s ease .1s;
}

.details button:hover {
    color: #fff;
    background-color: #000;
}

.custom-card .name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    transform: translateX(-120%);
    transition: all 1s ease;
}